

.property-container{
      width:100%;
}

.cards{

      display:flex;
      width:90%;
      flex-wrap:wrap;
      margin:50px auto;
      row-gap:50px;
      column-gap: 40px;
      justify-content: space-evenly;
      min-height:90vh;
}

.filter{
    width: 90%;
    margin:10px auto;

    
}

.search {

      /* all:unset; */
      
       width:50%;
       background-color:whitesmoke;
      border:1px solid black;
      border-radius:10px;
      padding:0 20px;
      margin:0 auto;
}

.search input{

      width:80%;
      height: 40px;
      border:none;
      background-color: transparent;
      border-radius:5px;
      padding:0 20px;
      font-size:20px;

}

.search input:focus{
     outline:none;
}

.amenities-filter{
      display:flex;
      gap:30px;
      align-items: center;
      padding:10px;
      margin:0 auto;
      width:80%;
      flex-wrap:wrap;
}

.amenities-filter div{
      display: flex;
      align-items: center;
      gap:10px;
}
@media(max-width:830px){

      .cards{

      
         
            margin:40px auto;
            row-gap:30px;
            column-gap: 20px;
            justify-content: center;
      
      }

      .amenities-filter{
           
            gap:20px;
            align-items: center;
            padding:10px;
            margin:0 auto;
            width:80%;
            font-size:12px;
      }
      
      

}

@media (max-width:690px){
      .cards{
            width:95%;
            row-gap:20px;
            column-gap:10px;
            
      }

      .amenities-filter{
            display:flex;
            gap:10px;
            align-items: center;
            padding:10px;
            margin:0 auto;
            width:90%;
      }
      
      .amenities-filter div{
            display: flex;
            align-items: center;
            gap:5px;
      }


}